.calendar {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  color: #555;
  transition: background-color 0.3s ease;
}

th {
  background-color: #f2f2f2;
  color: #444;
  font-weight: bold;
}

td > div {
  font-weight: bold;
  margin-bottom: 10px;
}

td {
  position: relative;
  cursor: pointer;
}

td:hover {
  background-color: #f1f1f1;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

td.selected {
  background-color: #0056b3;
  color: #fff;
}

td.selected .event {
  background-color: #003d80;
}

.event {
  background-color: #007bff;
  color: #fff;
  font-size: 0.7em;
  padding: 2px 4px;
  border-radius: 4px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date-string {
  text-transform: uppercase;
  color: #555;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2.5px;
  font-weight: bold;
}
